PORT=3001
SUPABASE_URL=https://elarqfyoxbqgwbgjjzvd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsYXJxZnlveGJxZ3diZ2pqenZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mzk2NzYsImV4cCI6MjA4OTExNTY3Nn0.1Ba4EfE0ZlPP8jIi-Q-3QVQE6eFDuztWgZ5mvllp_7A
